<h2><%= @task.name %></h2>
<p><%= @task.details %></p>
<p>This task is completed? <%= @task.completed %></p>


<p><%= link_to "Edit this task", edit_task_path %></p>
<p><%= link_to "Delete #{@task.name}",
    task_path(@task),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
</p>

<p><%= link_to "Back to your tasks", tasks_path %></p>